<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- <meta http-equiv="refresh" content="5"> -->

	<title>SIC - Sistema Integrado Cotação</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/bootstrap-grid.css}">
		  
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/style-painel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/style-modal-config.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/style-progress.css}">
    
	
	<link rel="shortcut icon" th:href="@{/images/icone.png}"/>
	
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>
<body>
<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
<input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}"/>

<div class="im-layout-page">
	
	<div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>
	
	<section class="im-layout-content" layout:fragment="conteudo"></section>

	<div class="im-layout-footer" th:replace="layout/fragments/Footer :: layout-footer"></div>
	
</div>	
	
	<script th:src="@{/javascripts/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/javascripts/bootstrap.js}"></script>
	<script th:src="@{/javascripts/bootstrap.bundle.js}"></script>	
	<script th:src="@{/javascripts/util.js}"></script>	
	
	<th:block layout:fragment="javascript-extra" ></th:block>
	
</body>
</html>