.container_modal_config {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.box-modal_config {
	width: 500px;
	height: 600px;
	padding: 15px;
	border-radius: 25px;
}

.im-title-modal-configuracao {
	font-size: 20px;
    text-align: center;
}

.im_label_input {

}

.im_label_checkbox {

}

.im_input_checkbox {

}

.im_hidden {
	display: none;
}

.im-has-error {
	border: 1px solid red
}

