.container_modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.box-modal {
    width: 1308px;
    height: 904px;
    padding: 15px;
    border-radius: 25px;
}

.im-title-modal-painel__lab-leito {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #404A57;
}

.im-title-modal-painel__lab-paciente {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #404A57;
}

.im-title-modal-painel__Leito {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #DE0001;
}

.im-title-modal-painel__paciente {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #DE0001;
}

.btn-painel {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    cursor: default;
}

.btn-painel:hover {
    color: #FFF;
}

.btn-painel__lock {
    background-color: #FF7F01;
}

.btn-painel__unlock {
    background-color: #45AE00;
}

.im-spacing-horizontal {
    width: 1308px;
    border-left: 3px solid;
    color: #0D4F96;
}

.container_painel {
    width: 1270px;
    height: 770px;
    background: #252c48;
    margin-left: 15px;
}

.im-bloco_meio {
    float: right;
    width: 680px;
    background: b3b3b3;
}

.im-bloco-monitoramento {
    float: left;
    width: 380px;
    background: #b3b3b3;
    margin-left: 10px;
}

.im-bloco-paramentros {
    float: right;
    width: 280px;
    background: blue;
}

.im-image {
    margin: 30px 0 15px 40px;
    width: 160px;
}


/*-------------------------------------------------*\
  Graph box
  - Container para gráfico (dashboard)
\*-------------------------------------------------*/

.im-graph-box {
    border: 1px solid #1d2238;
    background: #1d2238;
    margin-left: 50px;
    border-radius: 15px;
}

.im-graph-box__header {
    padding: 15px 20px;
    border-bottom: 1px solid #eeeeee;
}

.im-graph-box__content {
    padding: 15px 20px;
}

.im-graph-box__no-data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #777777;
}

.im-graph-box__no-data>i {
    margin-right: 5px;
}

.im-graph-box__title {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 500;
}

.im-text-xs-left {
    text-align: left;
}

.im-text-xs-right {
    text-align: right;
}

.im-text-xs-center {
    text-align: center;
}

.im-text-xs-justify {
    text-align: justify;
}

.im-label-grafico-vol {
    background: #151a30;
    color: #fff;
    border-radius: 15px 0px 0px 0px;
    margin-left: 51px;
    z-index: 99;
    padding: 5px 15px 5px 10px;
    position: absolute;
    font-size: 12px;
}

.im-info-paciente {
    background: #1D2238;
    display: flex;
    justify-content: center;
    vertical-align: top;
    padding: 10px;
    margin: 20px 0px 10px -40px;
    border-radius: 10px;
}

.im-image-icon {
    width: 19px;
    height: 23px;
    margin-top: 0px;
    margin-right: 5px;
}

.im-image-icon__altura {
    width: 19px;
    height: 23px;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 20px;
}

.im-image-icon__peso {
    width: 19px;
    height: 23px;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 20px;
}

.im-info-paciente__sexo {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.im-info-paciente__altura {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.im-info-paciente__predito {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.im-grafico {
    width: 500px;
    height: 200px;
}

.im-bloco-modo {
    background-color: #1D2239;
    padding: 10px 10px 0px 0px;
    margin-left: 171px;
    width: 164px;
    height: 54px;
    border-radius: 10px 10px 0px 0px;
}

.im-bloco-modo__monitoramento_first {
    background-color: #1D2239;
    margin-left: 3px;
    width: 332px;
    height: 85px;
    border-radius: 10px 0px 0px 0px;
}

.im-bloco-modo__monitoramento_center {
    background-color: #1D2239;
    margin-left: 3px;
    width: 332px;
    height: 85px;
}

.im-bloco-modo__monitoramento_minus {
    background-color: #1D2239;
    margin-left: 3px;
    width: 332px;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
}

.im-bloco-modo__monitoramento_minus_none {
    background-color: #1D2239;
    margin-left: 3px;
    width: 332px;
    height: 50px;
}

.im-bloco-modo__monitoramento_minus_last {
    background-color: #1D2239;
    margin-left: 3px;
    width: 332px;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
}

.im-bloco-modo__monitoramento_last {
    background-color: #1D2239;
    margin-left: 3px;
    width: 332px;
    height: 85px;
    border-radius: 0px 0px 10px 10px;
}

.im-title-modo {
    font-family: 'Montserrat';
    font-size: 40px;
    color: #FF7F01;
    text-align: center;
    text-transform: uppercase;
}

.im-text-modo_esquerdo_superior {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    margin: 25px 0px 0px 10px;
    text-align: left;
}

.im-text-modo_esquerdo_inferior {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0px 0px 10px;
    text-align: left;
}

.im-text-modo_esquerdo_superior_minus {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0px 0px 10px;
    text-align: left;
}

.im-text-modo_esquerdo_inferior_minus {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0px 0px 10px;
    text-align: left;
}

.im-text-modo_centro {
    font-family: Montserrat;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    margin: 8px 0px 0px 5px;
}

.im-text-modo_direito {
    font-family: Montserrat;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    text-align: right;
    margin: 8px 15px 0px 0px;
}

.im-text-modo_direito_minus {
    font-family: Montserrat;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    text-align: right;
    margin: 8px 15px 0px 0px;
}

.im-text-modo_direito_superior {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    text-align: right;
    margin: 25px 0px 0px 40px;
}

.im-text-modo_direito_inferior {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    margin: 5px 0px 0px 30px;
    text-align: right;
}

.im-line-separator {
    background-color: #151A30;
    height: 5px;
    width: 332px;
    margin-left: 3px;
}

.im-bloco-parametros {
    background-color: #1D2239;
    padding: 10px 10px 0px 0px;
    margin-left: 150px;
    width: 164px;
    height: 54px;
    border-radius: 10px 10px 0px 0px;
}

.label-info-parametro {
    color: #fff;
    font-size: 16px;
}

.im_align_center-bloco_parametros {
    margin-left: 70px;
}

.im_bloco_parametro {
    background-color: #1D2239;
    width: 125px;
    height: 53px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    margin-top: -8px;
}

.im_bloco_parametro__value {
    color: #fff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.im_bloco_parametro__prefixo {
    background-color: #1D2239;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    width: 125px;
    margin-left: -10px;
    margin-top: -9px;
    border-radius: 0px 0px 10px 10px;
}

.im-bloco-modo-pvc__monitoramento_first {
    background-color: #1D2239;
    margin-left: 3px;
    width: 332px;
    height: 118px;
    border-radius: 10px 0px 0px 0px;
}

.im-bloco-modo-pvc__monitoramento_center {
    background-color: #1D2239;
    margin-left: 3px;
    width: 332px;
    height: 118px;
}

.im-bloco-modo-pvc__monitoramento_last {
    background-color: #1D2239;
    margin-left: 3px;
    width: 332px;
    height: 118px;
    border-radius: 0px 0px 10px 10px;
}

.im_top_label_pcv {
    margin-top: 43px;
}

.im_top_monitor_pcv {
    margin-top: 30px;
}

.im_btn_close_painel {
    margin-top: 20px;
}