<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar" th:fragment="navbar">

		<div class="container-fluid" style="border-bottom-color: darkblue; border-bottom-style: groove;">

			<div class="navbar-header">
				<a class="navbar-brand  hidden-xs">
					<div class="row">
						<div class="im-img-title__login col-sm mr-auto mt-3 ">
							<img alt="SIC" th:src="@{/images/logo_sic.png}" />
						</div>
					</div>
				</a>
			</div>
			<ul class="navbar navbar-expand-lg navbar-light bg-light im-info-logout" sec:authorize="isAuthenticated()">
				<span>
					<a sec:authorize="hasRole('ROLE_ADMINISTRADOR')" class="menu-sic" th:href="@{/parametro/load}"><img class="im-label-logout"
							title="Cadastro parâmetro" th:src="@{/images/icon_param.png}" /></a>
					<a class="menu-sic" th:href="@{/usuario/paginada}"><img class="im-label-logout"
							title="Cadastro usuário" th:src="@{/images/icon_user.png}" /></a>
					<a sec:authorize="hasRole('ROLE_ADMINISTRADOR')" class="menu-sic" th:href="@{/cotacao/cadastrar}"><img class="im-label-logout" title="Cotação"
							th:src="@{/images/icon_cotacao.png}" /></a>
					<a class="menu-sic" th:href="@{/logout}"><img class="im-label-logout" title="Sair sistema"
							th:src="@{/images/icon_logout.png}" /></a>
				</span>

			</ul>

		</div>
	</nav>

</body>

</html>