<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>SIC</title>
</head>

<body>

	<section layout:fragment="conteudo">

		<div class="container-fluid">

			<div class=im-layout-simple-page__container>
				<div class="justify-content-md-center">
					<div class="mr-auto mt-3">
						<h3 class="im-text__cria-conta">
							Cadastrar Cotação
						</h3>
					</div>
				</div>
				<form th:action="@{/cotacao}" method="POST" th:object="${cotacao}">
					<th:block th:include="fragments/MensagensErroValidacao"></th:block>
					<div class="justify-content-md-center">
						<label for="dtCotacao">Data fim cotação:</label>
						<input type="date" th:field="*{fimDt}" 
							th:errorClass="is-invalid" 
							id="dtCotacao"
							placeholder="Data fim cotação." 
							th:classappend="${#fields.hasErrors('fimDt')} ? is-input-invalid"  />
					</div>
					<div class="justify-content-md-center">
						<table>
							<tr>
								<th><b>Sel</b></th>
								<th><b>Id</b></th>
								<th><b>Produto</b></th>
								<th><b>Quant</b></th>
							</tr>
							<tr th:each="produto, itemStat : *{produtos}">
								<td>
									<input type="checkbox" placeholder="Seleciona" th:field="*{produtos[__${itemStat.index}__].selecionado}" />
								</td>
								<td>
									<input th:field="*{produtos[__${itemStat.index}__].codigo}" th:readonly="${true}" class="input-grid input-hidden input-right" size="13" />
								</td>
								<td>
									<input th:field="*{produtos[__${itemStat.index}__].descricao}" class="input-grid input-hidden input-left" th:readonly="${true}" size="30" />
								</td>
								<td>
									<input type="number" class="form-control" autocomplete="off" th:field="*{produtos[__${itemStat.index}__].quantidade}" min="1" max="100000"/>
								</td>
							</tr>
						</table>
					</div>
					<div class="justify-content-md-center">
					<div class="mr-auto mt-3">
						<div class="form-group col mx-auto text-center my-3">
							<button type="submit" class="im-button-login">Salvar</button>
						</div>
						<div class="col mx-auto text-center im-icon-back" style="margin-top: 1px">
							<label class="im-button-back"><a th:href="@{/}" style="color: white;">Voltar</a></label>
						</div>
					</div>
				</div>
				</form>


	</section>
</body>

</html>