<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>SIC</title>
</head>

<body>

	<section layout:fragment="conteudo">

		<div class="container-fluid">
	
			<div class=im-layout-simple-page__container>
	
				<div class="justify-content-md-center">					
					<div class="mr-auto mt-3">
						<h3 class="im-text__cria-conta">
							Cadastrar Parâmetro
						</h3>
					</div>
				</div>
	
				<form th:action="@{/parametro}" method="POST" th:object="${param}">					
	
					<th:block th:include="fragments/MensagensErroValidacao"></th:block>
	
					<div class="form-group col mx-auto text-center im-icon-mail my-4">						
	        			<input type="text" class="im-input__cadastro" placeholder="compras.nome@email.com"
	        				th:classappend="${#fields.hasErrors('parametro.emailCompras')} ? is-input-invalid"
	        				autofocus="autofocus" id="emailCompras" th:field="*{parametro.emailCompras}" maxlength="100"  />
	    			</div>
	    			
	    			<div class="form-group col mx-auto text-center im-icon-ocupacao my-4">
						<select id="prioridadeUm" class="im-input__cadastro" th:field="*{parametro.prioridadeUm}"
								th:classappend="${#fields.hasErrors('parametro.prioridadeUm')} ? is-input-invalid">
							<option th:each="prioridade: ${listPrioridade}" th:value="${prioridade}" th:text="${prioridade.descricao}"></option>
						</select>
	    			</div>
	    			
	    			<div class="form-group col mx-auto text-center im-icon-ocupacao my-4">
						<select id="prioridadeDois" class="im-input__cadastro" th:field="*{parametro.prioridadeDois}"
								th:classappend="${#fields.hasErrors('parametro.prioridadeDois')} ? is-input-invalid">
							<option th:each="prioridade: ${listPrioridade}" th:value="${prioridade}" th:text="${prioridade.descricao}"></option>
						</select>
	    			</div>
	    			
	    			<div class="form-group col mx-auto text-center im-icon-ocupacao my-4">
						<select id="prioridadeTres" class="im-input__cadastro" th:field="*{parametro.prioridadeTres}"
								th:classappend="${#fields.hasErrors('parametro.prioridadeTres')} ? is-input-invalid">
							<option th:each="prioridade: ${listPrioridade}" th:value="${prioridade}" th:text="${prioridade.descricao}"></option>
						</select>
	    			</div>
	    			
					
					<div class="form-group col mx-auto text-center my-3">
						<button type="submit" class="im-button-login">Salvar</button>
					</div>
					
					<div class="col mx-auto text-center im-icon-back">
						<label class="im-button-back"><a th:href="@{/}" style="color: white;">Voltar</a></label>
					</div>
	
				</form>
	
			</div>
	
		</div>
	
	</section>	
</body>
</html>