<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>SIC</title>
</head>

<body>

	<section layout:fragment="conteudo">

		<div class="container-fluid">
	
			<div class=im-layout-simple-page__container>
	
				<div class="justify-content-md-center">					
					<div class="mr-auto mt-3">
						<h3 class="im-text__cria-conta" th:text="${titulo}">
							
						</h3>
					</div>
				</div>
	
				<form th:action="@{/usuario}" method="POST" th:object="${usuario}">					
	
					<th:block th:include="fragments/MensagensErroValidacao"></th:block>
	
					<div class="form-group col mx-auto text-center im-icon-mail my-4">						
	        			<input type="text" class="im-input__cadastro" placeholder="login.nome@email.com"
	        				th:classappend="${#fields.hasErrors('username')} ? is-input-invalid"
	        				autofocus="autofocus" id="username" th:field="*{username}" maxlength="100"  />
	    			</div>
	    			
	    			<div class="form-group col mx-auto text-center im-icon-login my-4">
	        			<input type="text" class="im-input__cadastro" placeholder="Nome usuário"
	        				th:classappend="${#fields.hasErrors('nome')} ? is-input-invalid" 
	        				autofocus="autofocus" id="name" th:field="*{nome}"  maxlength="100"/>
	    			</div>
	    			
	    			<div class="form-group col mx-auto text-center im-icon-ocupacao my-4">
						<select id="ocupacao" class="im-input__cadastro" th:field="*{ocupacao}"
								th:classappend="${#fields.hasErrors('ocupacao')} ? is-input-invalid">
							<option th:each="ocupacao: ${ocupacoes}" th:value="${ocupacao}" th:text="${ocupacao.descricao}"></option>
						</select>
	    			</div>
	    			
	    			<div class="form-group col mx-auto text-center im-icon-password my-4">
						<input type="password" class="im-input__cadastro" placeholder="Digite sua senha" 
							th:classappend="${#fields.hasErrors('senha')} ? is-input-invalid" maxlength="25"
							id="password" th:field="*{senha}"/> 
					</div>
					
					<div class="form-group col mx-auto text-center im-icon-password my-4">
						<input type="password" class="im-input__cadastro" placeholder="Confirme a senha" 
							th:classappend="${#fields.hasErrors('confirmacaoSenha')} ? is-input-invalid"
							 maxlength="25"
							id="confirmacaoSenha" th:field="*{confirmacaoSenha}"/> 
					</div>
					
					<div class="form-group col mx-auto text-center my-3">
						<button type="submit" class="im-button-login">Salvar</button>
					</div>
					
					<div class="col mx-auto text-center im-icon-back">
						<label class="im-button-back"><a th:href="@{/usuario/paginada}" style="color: white;">Voltar</a></label>
					</div>
	
				</form>
	
			</div>
	
		</div>
	
	</section>	
</body>
</html>