<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>SIC</title>
</head>

<body>

	<section layout:fragment="conteudo">

		<div class="container-fluid">

			<div class=im-layout-simple-page__container>

				<div class="justify-content-md-center">
					<div class="mr-auto mt-3">
						<h3 class="im-text__cria-conta">
							Consulta Usuários
						</h3>
					</div>
				</div>
				<table>
					<tr>
						<th>Código</th>
						<th>Nome</th>
						<th>Perfil</th>
						<th>Editar</th>
					</tr>
					<tr th:each="usuario : ${page.content}">
						<td th:text="${usuario.id}"></td>
						<td th:text="${usuario.nome}"></td>
						<td th:text="${usuario.ocupacao}"></td>
						<td>
							<span>
								<a title="Editar" th:href="@{/usuario/editar/(id=${usuario.id})}"><img
										class="im-label-editar" th:src="@{/images/icon_edit.png}" /></a>
							</span>
						</td>
					</tr>
				</table>

				<div class="pagination-div">
					<span th:if="${page.hasPrevious()}">
						<a th:href="@{/usuario/paginada(page=${page.number-1},size=${page.size})}">Voltar</a>
					</span>
					<th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
				        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
				        <span th:unless="${page.number == i}">
				             <a th:href="@{/usuario/paginada(page=${i},size=${page.size})}">[[${i}+1]]</a>
				        </span>
    				</th:block>
    				<span th:if="${page.hasNext()}">
        				<a th:href="@{/usuario/paginada(page=${page.number+1},size=${page.size})}">Avançar</a>
    				</span>
				</div>
				<div class="justify-content-md-center">
					<div class="mr-auto mt-3">
						<div class="col mx-auto text-center im-icon-back" style="margin-top: 1px">
						<label class="im-button-add"><a th:href="@{/usuario/cadastrar}" style="color: white;">Cadastrar</a></label>
					</div>
					<div class="col mx-auto text-center im-icon-back" style="margin-top: 1px">
						<label class="im-button-back"><a th:href="@{/}" style="color: white;">Voltar</a></label>
					</div>
					</div>
				</div>
				
		</section>	
</body>
</html>