<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>SIC</title>
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="justify-content-md-center" style="min-width: 711px!important;">
			<h3 th:text="*{cotacao.tituloCotacao}" style="text-align:center!important;" />
		</div>
		<form th:action="@{/proposta}" method="POST" th:object="${cotacao}">
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>
			<div class="justify-content-md-center">

				<table>
					<tr>
						<th><b>Id</b></th>
						<th><b>Produto</b></th>
						<th><b>Quant</b></th>
						<th><b>Valor</b></th>
						<th><b>Frete</b></th>
						<th><b>Entrega</b></th>
					</tr>
					<tr th:each="proposta, itemStat : *{propostas}">
						<td>
							<input th:field="*{propostas[__${itemStat.index}__].id}" th:readonly="${true}"
								class="input-grid input-hidden input-right no-selection" />
						</td>
						<td>
							<input th:field="*{propostas[__${itemStat.index}__].nomeProduto}"
								class="input-grid input-hidden input-left no-selection" th:readonly="${true}"
								onselect="false" />
						</td>
						<td>
							<input th:field="*{propostas[__${itemStat.index}__].quantidade}"
								class="input-grid input-hidden input-center no-selection input-right" th:readonly="${true}" />
						</td>
						<td>
							<input type="text" class="input-right" onkeyup="formatarMoeda(this)" th:readonly="${true}"
								th:field="*{propostas[__${itemStat.index}__].valor}">
						</td>
						<td>
							<input type="text" class="input-right" onkeyup="formatarMoeda(this)" th:readonly="${true}"
								th:field="*{propostas[__${itemStat.index}__].frete}">
						</td>
						<td>
							<input type="date" th:field="*{propostas[__${itemStat.index}__].dataEntrega}" th:readonly="${true}"
								th:errorClass="is-invalid" id="dtCotacao" placeholder="Data entrega" />
						</td>
					</tr>
				</table>

			</div>
			<div class="justify-content-md-center">
				<div class="mr-auto mt-3">
					<div class="col mx-auto text-center im-icon-back"
						style="margin-top: 1px; min-width: 711px!important;">
						<label class="im-button-back"><a th:href="@{/}" style="color: white;">Voltar</a></label>
					</div>
				</div>
			</div>
		</form>

	</section>
</body>

</html>