<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>SIC</title>
</head>

<body>

	<section layout:fragment="conteudo">

		<div class="container-fluid">

			<div class="col-sm-12 js-grid-container">
				<table>
					<tr>
						<th>Código</th>
						<th>Data Cotação</th>
						<th>Data Fim</th>
						<th>Opção</th>
					</tr>
					<tr th:each="cotacao : ${page.content}">
						<td th:text="${cotacao.id}"></td>
						<td th:text="${#dates.format(cotacao.dtCotacao, 'dd/MM/yyyy')}"></td>
							<td th:text="${#dates.format(cotacao.fimDtCotacao, 'dd/MM/yyyy')}"></td>
							<td>
							<span>
								<a title="Editar" th:if="${cotacao.permiteConsulta == false}" th:href="@{/proposta/load/(id=${cotacao.id})}"><img
										class="im-label-editar" th:src="@{/images/icon_edit.png}" /></a>
							</span>
							<span>
								<a title="Consultar" th:if="${cotacao.permiteConsulta == true}" th:href="@{/proposta/consulta/(id=${cotacao.id})}"><img
										class="im-label-editar" th:src="@{/images/icon_visualizar.svg}" /></a>
							</span>
							<span>
								<a title="Finalizar" th:if="${cotacao.userAdmin == true && cotacao.statusAberto == true}" th:href="@{/proposta/finaliza/(id=${cotacao.id})}"><img
										class="im-label-editar" th:src="@{/images/icon_check.png}" /></a>
							</span>
						</td>
						</tr>
					</table>

					<div class="pagination-div">
						<span th:if="${page.hasPrevious()}">
							<a th:href="@{/(page=${page.number-1},size=${page.size})}">Voltar</a>
						</span>
						<th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
				        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
				        <span th:unless="${page.number == i}">
				             <a th:href="@{/(page=${i},size=${page.size})}">[[${i}+1]]</a>
				        </span>
    				</th:block>
    				<span th:if="${page.hasNext()}">
        				<a th:href="@{/(page=${page.number+1},size=${page.size})}">Avançar</a>
    				</span>
				</div>
	            </div>	               
		
	</section>

</body>
</html>