<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>SIC - Recuperar Senha</title>

	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/bootstrap-grid.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/style.css}">

	<link rel="shortcut icon" th:href="@{/images/icone.png}" />

	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body class="im-layout-simple-page">

	<div class="container-fluid">

		<div class=im-layout-simple-page__container>

			<div class="justify-content-md-center">
				<div class="im-img-title__login col-sm mr-auto mt-3 ">
					<img alt="ar" th:src="@{/images/logo_sic.png}" />
				</div>
				<div class="mr-auto mt-3">
					<h3 class="im-text-title_style__login">
						Sistema Integrado de <b>Cotacão</b>
					</h3>
				</div>				
				
				<div class="mr-auto mt-3">
					<h3 class="im-text-title_style__redefinir">
						Redefini&ccedil;&atilde;o de senha
					</h3>
				</div>
				
				<div class="mr-auto mt-3 my-2">
					<h3 class="im-text-title_style__redefinir-msg">
						Digite o seu e-mail no campo abaixo e lhe enviaremos uma nova senha.
					</h3>
				</div>
			</div>
			
			<th:block th:include="fragments/MensagemSucesso"></th:block>
			
			<form action="#" th:action="@{/senha}" th:object="${redefinir}" method="post">			
			
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>

				<div class="form-group col mx-auto text-center im-icon-mail my-4">
						
        			<input type="text" class="im-input-login" placeholder="login.nome@email.com" 
        				autofocus="autofocus" id="username" th:field="*{username}"/>
							
    			</div>
				
				<div class="form-group col mx-auto text-center my-3">
					<button type="submit" class="im-button-login">Enviar</button>
				</div>
				
				<div class="col mx-auto text-center im-icon-back">
					<a href="/login" th:href="@{/login}" type="submit" class="btn im-button-back" style="color: white;">Voltar</a>
				</div>

			</form>

		</div>

	</div>
	
	
	<script th:src="@{/javascripts/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/javascripts/bootstrap.js}"></script>
	<script th:src="@{/javascripts/bootstrap.bundle.js}"></script>	
	
	<script src="https://kit.fontawesome.com/1162a7b908.js" crossorigin="anonymous"></script>	
</body>
</html>