<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>SIC - Login</title>

	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/bootstrap-grid.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/style.css}">

	<link rel="shortcut icon" th:href="@{/images/icone.png}" />

	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body class="im-layout-simple-page">

	<div class="container-fluid">

		<div class=im-layout-simple-page__container>

			<div class="justify-content-md-center">
				<div class="im-img-title__login col-sm mr-auto mt-3 ">
					<img alt="ar" th:src="@{/images/logo_sic.png}" />
				</div>
				<div class="mr-auto mt-3">
					<h3 class="im-text-title_style__login">
						Sistema Integrado de <b>Cotacão</b>
					</h3>
				</div>
			</div>
			
			<div class="im-simple-panel__message  is-error" th:if="${#bools.isTrue(param.error)}">
				O e-mail e/ou senha não conferem
			</div>

			<form th:action="@{/login}" method="POST">			

				<div class="form-group col mx-auto text-center im-icon-login">
        			<input type="text" class="im-input-login" placeholder="login.nome@email.com" 
        				   autofocus="autofocus" name="username" maxlength="100"
						   required oninvalid="setCustomValidity('Por favor, preencha o e-mail')"/>
    			</div>

				<div class="form-group col mx-auto text-center im-icon-password">
					<input type="password" class="im-input-login" maxlength="25" placeholder="Sua senha" name="password" /> 
				</div>
				
				<div class="form-group col mx-auto text-center my-4">
					<button type="submit" class="im-button-login">Entrar</button>
				</div>
				
				<div class="form-group col mx-auto text-center my-4">
					<label><a class="im-forgot-password" th:href="@{/usuario/redefinir}">Esqueci minha senha</a></label>
				</div>

			</form>

		</div>

	</div>
	
	
	<script th:src="@{/javascripts/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/javascripts/bootstrap.js}"></script>
	<script th:src="@{/javascripts/bootstrap.bundle.js}"></script>	
	
	<script src="https://kit.fontawesome.com/1162a7b908.js" crossorigin="anonymous"></script>	
</body>
</html>