<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>SIC</title>
</head>

<body>

	<section layout:fragment="conteudo">

		<div class="container-fluid">

			<div class=im-layout-simple-page__container>

				<div class="justify-content-md-center">
					<div class="mr-auto mt-3">
						<h3 class="im-text__cria-conta">
							Lista usuários
						</h3>
					</div>
				</div>

				<div class="container">
					<div class="card" th:each="usuario : ${usuarios}">
						<div class="card-header" th:text="${usuario.id}">Id</div>
						<div class="card-header" th:text="${usuario.nome}">Nome</div>
						<div class="card-header" th:text="${usuario.ocupacao}">Ocupação</div>
					</div>
				</div>

			</div>

		</div>

	</section>
</body>

</html>