<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>SIC</title>
</head>

<body class="im-layout-simple-page">

	<section layout:fragment="conteudo">

		<div class="container-fluid">

			<div class=im-layout-simple-page__container>

				<div class="justify-content-md-center">

					<div class="mr-auto mt-3">
						<h3 class="im-text__cria-conta">
							Cotação criada com sucesso!
						</h3>
					</div>

				</div>

				<div class="col mx-auto text-center im-icon-back" style="margin-top: 1px">
					<label class="im-button-back"><a th:href="@{/cotacao/cadastrar}" style="color: white;">Voltar</a></label>
				</div>
			</div>

		</div>

	</section>
</body>

</html>